.org-organization-admin-pages-entrypoint-card__card,
.feed-identity-module__widgets,
.artdeco-toast-item--visible,
.feed-new-update-pill__new-update-button,
aside > section.artdeco-card.ember-view.relative.break-words.pb3.mt2,
.pv-profile-pymk__container,
.pvs-loader__profile-card {
  display: none !important;
}

/* using visibility hidden to preserve the existing structure with comments on the bottom right-hand side of each post */
li.social-details-social-counts__reactions {
  visibility: hidden !important;
}

/* hides follower count visible when looking at your own posts and activity */
a[href="/mynetwork/network-manager/people-follow/followers/"] {
  visibility: hidden !important;
}

/* hides post impression numbers */
.ca-entry-point__num-views > strong {
  visibility: hidden !important;
}

/* hides profile stats in left hand sidebar */
.feed-left-nav-growth-widgets__widgets {
  display: none !important;
}
